
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
  }
  
  body {
    background: linear-gradient(65deg, #500b88, #400d9e, #0b3388);
    background-size: 600% 600%;
    animation: colors 6s ease infinite;
    animation-direction: alternate;
  }
  
  @keyframes colors {
    0% {
      background-position-x: 0%;
    }
  
    100% {
      background-position-x: 100%;
    }
  }
  
  #espacamento {
    height: 6vh;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 86vw;
    display: flex;
  }
  
  /*Inicio header*/
  .header {
    background-color: #280b3fb5;
    display: flex;
    height: 8vh;
    width: 100%;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 2;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    color: #ffffff;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
  }
  
  
  .titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
  }
  
  .li_login {
    border: 2px solid #ffffff;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .li_login:hover {
    background-color: #50485E;
  }
  
/* fim do header */

#parte1 {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/fundo_gamer.webp);
    background-size: cover;
}

#parte1::before {
    content: '';
    width: 100%;
    height: 85vh;
    position: absolute;
    background: #000000b2
}

.intro {
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    gap: 5vh;
    font-weight: 600;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.p1_parte1 {
    font-size: 20px;
    width: 40%;
}

.p2_parte1 {
    font-size: 20px;
}

.a_parte1 {
    background-color: #696840;
    border: 2px solid #4d0845;
    color: #ffffff;
    padding: 15px 80px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.a_parte1:hover{
    background-color: #adab2c;
}

#parte2 {
    margin: 0 auto;
    margin-top: 2%;
    padding: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vantagens{
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 8vw;
    font-weight: 600;
    text-align: center;
}

.beneficios{
    gap: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.beneficio{
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    gap: 15px;
}

.h2_parte2{
    font-size: 30px;
}

.a_parte2 {
    background-color: #1d96a8;
    border: 2px solid #1d96a8;
    color: #ffffff;
    padding: 15px 80px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.a_parte2:hover{
    background-color: #3fa8b8;
}

.p_parte2{
    
    font-size: 20px;
}