/*Inicio carrossel*/

#index {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 2%;
}

.slides {
  width: 300%;
  height: 80vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 34%;
  position: relative;
}

.slide img {
  width: 100%;
}

.manual-navigation {
  position: relative;
  bottom: calc(100% - 78vh);
  margin: auto;
  display: flex;
  justify-content: center;
  
  z-index: 1;
}

.manual-btn {
  border: 4px solid #4c0c80;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #9781bd;
}

.active {
  background-color: #9781bd;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -34%;
}

#radio3:checked~.first {
  margin-left: -68%;
}

/*Fim do carrossel*/

/*Inicio do carrossel dos jogos*/

#jogos {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
}

.btns_categorias {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
  justify-content: space-between;
}


.btn_categoria {
  width: 8vw;
  color: #ffffff;
  border-radius: 30px;
  padding: 20px 25px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(65deg, #2264dd, #2fb84c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #382F48 inset;
}


.btn_categoria:hover, .btn_categoria:focus {
  box-shadow: 2px 1000px 1px #50485E inset
}

.btn_categoria:focus{
  border: 3px solid #2fb84c;
}

.fila {
  margin-bottom: 4vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.fila img {
  width: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px 0;
  border-radius: 8px;
  color: #ffffff;
}

.card {
  background-color: #241935;
  margin: 0 15px;
}

.card img {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  padding: 15px 0;
  font-size: 25px;
  font-weight: 600;
}

.card .btn {
  background-color: #2fb84c;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 10x 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #368a48;
}





















































































/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid #810baf;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 80%;
  background-color: #161618;
  position: relative;
  top: 0;

}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}